body {
    height: auto;
    margin: 0;
    background: #0f2f46;
    color: #2674f2;
    font-family: "Chela One", system-ui;
    font-weight: 400;
    font-style: normal;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #0f2f46;
    padding: 1rem;
}

header img {
   height: 14.1rem;

}

.user_section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #0f2f46;
}

.user-action {
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
}

h1 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border: solid 2px;
    margin: 2rem;
    background-color: black;
    width: 22rem;
    border-radius: 4rem;
}

h2 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border: solid 2px;
    margin: 2rem;
    background-color: black;
    border-radius: 4rem;
    font-size: xx-large;
}

h3 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border: solid 2px;
    margin: 2rem;
    background-color: black;
    border-radius: 4rem;
    font-size: 2rem;
}

a {
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: #06dc81;
    margin: 2rem;
}

button {
    background-color: black;
    color: #2671f2;
    padding: 0.5rem 1rem;
    border-radius: 4.3rem;
    cursor: pointer;
    box-shadow: 3px 3px 6px #2671f2;
    font-size: medium;
    border: solid #2671f2;
}

input {
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

label {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 1.5rem;
}

.form-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.6rem;
}

.form-container input {
    text-align: center;
}

ul {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

li {
    font-size: 2rem;
}

form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
}

.tasks {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

textarea {
    height: 7rem;
    font-size: 1.5rem;
}
